./UpdatedSyntheticDataset
./UpdatedImageProcessing
./SUASSystem
./SDAPackage
./SDAPackageWithVectorField
./VectorFieldSDASimulatorPackage

nose
opencv-python
scikit-learn
scipy
dronekit
imutils
shapely
