<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<meta name="creativity" content="">

		<script src="rsc/js/jquery-3.2.1.min.js"></script>

		<!--[if lt IE 9]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<script type="text/javascript">
			var cropperW = 625.219;
			var cropperH = 416.812;

			var imageW = 3000;
			var imageH = 2000;

			var length = 400; 

			var topLeftX = 382, topLeftY = 72, extrude = 69;

			$(document).ready(function() {
				// calculate
				var transformedW = ((length/extrude) * imageW)/(imageW/cropperW);
				//((length/extrude) * imageW)/4; //(extrude/cropperW) * imageW
				var transformedH = ((length/extrude) * imageH)/(imageH/cropperH);
				//((length/extrude) * imageH)/4;

				var actual_topLeftX = (topLeftX/cropperW) * imageW;
				var actual_topLeftY = (topLeftY/cropperH) * imageH;

				var transformed_topLeftX = (transformedW/imageW) * actual_topLeftX;
				var transformed_topLeftY = (transformedH/imageH) * actual_topLeftY;

				// apply
				$("#view").css({
					"height": length + "px", 
					"width": length + "px",

					"background-image": "url('imgs/demo-1.jpg')",
					"background-repeat": "no-repeat",
					"background-attachment": "scroll", // fixed

					// output: 					11538							7692
					"background-size": transformedW + "px " + transformedH + "px",
					// output:  				7163					2081
					"background-position": 
						"-" + 
						transformed_topLeftX + 
						"px -" + 
						transformed_topLeftY + 
						"px" // "0px 0px"
				})
			});
		</script>

		<div id="view" style="border:3px solid black"></div>

		<!--<img id="view" src="imgs/demo-1.jpg" height="1000vh" width="100%"></div>-->
	</body>
</html>