<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Open Internet Courts &ndash; Crowd-sourced Justice</title>
		<meta name="description" content="Settle a dispute in the OIC, built by and for the public use.">
		<meta name="author" content="Francois Villemaire">
		<meta name="software" content="custom">

		<meta name="creativity" content="">

		<meta property="og:title" content="Open Internet Courts -- Justice for All" />
		<meta property="og:description" content="COURT CASES DECIDED HERE" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://oic.fcpd.us/" />
		<meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />

		<link rel="stylesheet" href="rsc/css/bootstrap.min.css?v=4.0.0-beta" integrity="sha254-bf6a815844915fe8afaf30fd14503b11e3d24cdebb34e7dc06bbc345b55a3a16">

		<script src="rsc/js/bootstrap.min.js?v=4.0.0-beta"></script>
		<script src="rsc/js/jquery-3.2.1.min.js"></script>

		<!--[if lt IE 9]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		
	</body>
</html>