[Unit]
Description=A6000 Camera Picture Take and Serve

[Service]
ExecStart=/home/odroid/Desktop/SUAS-Competition/scripts/gcs/a6000/startup_picture_serve_and_take.sh
User=odroid
Group=root
StandardOutput=null
TimeoutSec=30
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
